<table class="table">
    <tbody>
        <tr><%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size:'100x100' %></tr>
        <tr>
            <th>name</th>
            <th><%= user.name %></th>
        </tr>
        <tr>
            <th>introduction</th>
            <th><%= user.introduction %></th>
        </tr>
        <tr>
            <th>follows</th>
            <th><%= link_to(user.follower.count,user_followings_path(user)) %></th>
        </tr>
        <tr>
            <th>followers</th>
            <th><%= link_to(user.followed.count,user_followers_path(user)) %></th>
        </tr>
    </tbody>
</table>

<div class="row">
    <% if user == current_user %>
        <%= link_to '', edit_user_path(current_user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
        <% else %>
        <% if current_user.following?(user) %>
        <div class="btn btn-primary">
        <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
        </div>
        <% else %>
        <div class="btn btn-success">
        <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
        </div>
        <% end %>
    <% end %>
</div>